/* 

FIVE STAR RATING STARTER

in html vvv
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>

add checked active classes with JS

in CSS vvv
.checked {
  color: orange;
}
*/

/* 
Style the button that is used to open and close the collapsible content 
.collapsible {
     background-color: #eee;
     color: #444;
     cursor: pointer;
     padding: 18px;
     width: 100%;
     border: none;
     text-align: left;
     outline: none;
     font-size: 15px;
   }
*/

/* 
Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) 
   .active, .collapsible:hover {
     background-color: #ccc;
   }
*/ 

/* 
Style the collapsible content. Note: hidden by default 
   .content {
     padding: 0 18px;
     display: none;
     overflow: hidden;
     background-color: #f1f1f1;
   }

.collapsible:after {
  content: '\02795'; Unicode character for "plus" sign (+) 
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";  Unicode character for "minus" sign (-) 
}

*/


* {
     box-sizing: border-box;
}

body {
     font-family: sans-serif;
}